<configuration>
  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%date{HH:mm:ss.SSS} %-5level %-36class{36} - %msg%n</pattern>
    </encoder>
  </appender>
  <appender name="file" class="ch.qos.logback.core.FileAppender">
    <file>${log-file:-scala-logging.log}</file>
    <encoder>
      <pattern>%date{HH:mm:ss.SSS} [%thread] %-5level %-36class{36} %M - %msg%n</pattern>
    </encoder>
  </appender>
  <logger name="org.deeplearning4j" level="warn"/>
  <logger name="org.nd4j" level="warn"/>
  <logger name="org.reflections" level="warn"/>
  <logger name="de.ai.htwg.tictactoe" level="debug"/>
  <root level="info">
    <appender-ref ref="console"/>
    <appender-ref ref="file"/>
  </root>
</configuration>